<div class="banner">
    <div class="col-lg-12 matter-banner">
        <div class="slider">
            <div class="callbacks_container">
                <ul class="rslides" id="slider">
                    <li>
                        <img src="../../../assets/images/carbanner1.jpg"  alt="">
                    </li>
                    <li>
                        <img src="../../../assets/images/carbanner2.jpg" alt="">
                    </li>
                    <li>
                        <img src="../../../assets/images/carbanner3.jpg" alt="">
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="clearfix"> </div>
</div>