<app-car-header></app-car-header>
<div class="contact">
    <div class="container">
        <h1>Contact</h1>
        
        <div class="contact-grids">
            <div class="contact-form">
                    <form [formGroup]="createForm" (ngSubmit)="onSubmit(createForm)">
                        <div >
                            <div class="col-md-4 in-contact">
                                <span>Name</span>
                                <input type="text" formControlName="name" id="name">
                            </div>
                            <div class="col-md-4 in-contact">
                                <span>Email</span>
                                <input type="text" formControlName="email" id="email">
                            </div>
                            <div class="col-md-4 in-contact">
                                <span>Phone number</span>
                                <input type="text" formControlName="phoneNumber" id="phoneNumber">
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                    
                        <div class="contact-bottom-top">
                            <span>Description</span>
                            <textarea formControlName="description" id="description"></textarea>								
                            </div>
                        <input type="submit" value="Send" [disabled]="!createForm.valid">
                    </form>
                </div>
        <div class="address">
            <div class=" address-more">
                <h2>Address</h2>
                <div class="col-md-4 address-grid">
                    <i class="glyphicon glyphicon-map-marker"></i>
                    <div class="address1">
                        <p>HUFLIT</p>
                        <p>TL 19034-88974</p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="col-md-4 address-grid ">
                    <i class="glyphicon glyphicon-phone"></i>
                    <div class="address1">
                        <p>+885699655</p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="col-md-4 address-grid ">
                    <i class="glyphicon glyphicon-envelope"></i>
                    <div class="address1">
                        <p><a href="mailto:@example.com">huflit@gmail.com</a></p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
</div>
</div>
<!--//content-->
<app-car-footer></app-car-footer>